* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.stars {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #000200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__title {
    color: transparent;
    font-weight: 900;
    font-size: 14em;
    -webkit-text-stroke: 2px #fff;
    text-transform: uppercase;
} 
.star {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: animate 8s ease-in-out infinite,
                bacgraundanimate 16s linear infinite;
}
.star1 {
    animation-delay:0s ;
    background: url(star1.png);
}
.star2 {
    animation-delay:-1s ;
    background: url(star2.png);
}

.star3 {
    animation-delay:-2s ;
    background: url(star3.png);
}
.star4 {
    animation-delay:-3s ;
    background: url(star4.png);
}
.star5 {
    animation-delay:-4s ;
    background: url(star5.png);
}
.star6 {
    animation-delay:-5s ;
    background: url(star6.png);
}
.star7 {
    animation-delay:-6s ;
    background: url(star7.png);
}
.star8 {
    animation-delay:-7s ;
    background: url(star8.png);
}
@keyframes animate {
   0% {
     opacity:0 ;  
   }
   10% {
    opacity: 1;  
  }
    20% {
    opacity:0 ;  
  }
30% {
    opacity:1 ;  
  }
40% {
    opacity:0 ;  
  }
50% {
    opacity:1 ;  
  }
60% {
    opacity:0 ;  
  }
70% {
    opacity:1 ;  
  }
80% {
    opacity:0 ;  
  }
90% {
    opacity:1 ;  

}
100% {
    opacity: 0;  
  }
}
@keyframes bacgraundanimate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2);
    }
}
@media (min-width:940px) {
    .section__title {
        font-size: 10em;
    } 
}
@media (min-width:760px) {
    .section__title {
        font-size: 8em;
    } 
}
@media (min-width:480px) {
    .section__title {
        font-size: 6em;
    } 
}

@media (min-width:320px) {
    .section__title {
        font-size: 4em;
    } 
}
